@model WebApplication1.Models.VoMainScriptModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    for (int i = 0; i < Model.voMainScriptChecked.Count; i++)
    {
        <p>
            @Model.voMainScriptChecked[i].VoMainScriptEntity.Attributes["new_name"]
            @Html.CheckBoxFor(x => Model.voMainScriptChecked[i].IsChecked)
            @Html.HiddenFor(x => Model.voMainScriptChecked[i].VoMainScriptEntity)
        </p>
    }

    <input type="file" id="myFile" name="myFileName">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

